
 

.quote-box {
	width: 400px;
	margin:12% auto auto auto;
	background-color: white;
	padding: 20px;
	font-size: 18px;
	border-radius: 3px;
}

.quote-author {
	text-align: right;
	clear:both;
	padding-bottom:12px;
	padding-top:12px;

}
#tweet-quote {
		background-color: #0b4444;
		color: white;
		padding: 5px 5px;
		font-size: 15px;
		margin-left: 100px;
		  display:inline-block;
		float:left;
		cursor:pointer
}

#new-quote {
        background-color: #0b4444;
		color: white;
		font-size: 15px;
		border:0;
		padding: 5px 5px;
		display:inline-block;
}

.button {
	    display:block;
		border:none;
		border-radius:3px;
		opacity:0.9;

}

.button:hover {
	    opacity:1;
}

.button:hover#tweet-quote{
		color:#7EB3CD; 
	
}
.footer {
	color: white;
	width: 400px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;

}
a:link, a:visited, a:hover, a:active{
	    text-decoration: none;
}

.footer a:link,a:active,a:visited{
	text-decoration: none;
    color: red; 
	font-weight: bold;
}

.footer a:hover {
    color: yellow;
}


