* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position:relative;
  z-index: 2;
}
 
.qb {
	height: 350px;
	margin: 100px auto;
	
}
.quote-box {
	width: 300px;
	margin: 0 auto;
	background-color: white;
	padding: 15px;
}

#tweet-quote {
		background-color: rgb(231, 76, 60);
		color: white;
		padding: 5px auto;
		margin: 10px;

}





