* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position:relative;
  z-index: 2;
}
 

.quote-box {
	width: 400px;
	margin-top: 250px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 15px;
	font-size: 18px;
	border-radius: 3px;
}

.quote-author {
	margin-bottom: 10px;
}
#tweet-quote {
		background-color: #0b4444;
		color: white;
		padding: 5px 5px;
		font-size: 15px;
		margin-right: 30px;
}

#new-quote {
        background-color: #0b4444;
		color: white;
		font-size: 15px;
		border:0;
		padding: 5px 5px;
		margin-left: 30px;

}

.footer {
	color: white;
}
a:link, a:visited, a:hover, a:active{
	    text-decoration: none;
}

.footer a:link,a:active,a:visited{
	text-decoration: none;
    color: red; 
	font-weight: bold;
}

.footer a:hover {
    color: yellow;
}

	


